@import "../App.module.scss";

.circularProgress svg {
  color: var(--orangeTint) !important;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--fixedWidth);
  margin: auto;
  min-height: 100vh;
}
.btn {
  background: var(--primaryColor) !important;
}
.inputField,
.fullWidth {
  width: 100% !important;
}
